/* Basic Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Orbitron, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(7, 7, 7);
    color: white;
    line-height: 1.6;
    overflow-x: hidden;
}

header,
nav ul {
    max-width: 100vw;
}

header,
nav ul {
    max-width: 100vw;
}


h1 {
    background-color: white;
    color: black;
    text-align: center;
}

/* Make sections take up full screen height */
.descr,
.form-section,
.facts {
    height: 100vh;
    /* 100% of the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    scroll-snap-align: start;
    /* Optional: for smooth scrolling effect */
}

/* Optional smooth scroll for nicer UX */
html {
    scroll-behavior: smooth;
}

/* Header */
header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    position: relative;
    padding: 10px 20px;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.3s ease;
}

/* Sticky Header Style */
header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* When the header is sticky, change the color of nav links */
header.sticky nav ul li a {
    color: white;
}

header.sticky nav ul li a:hover {
    color: #9D69A3;
}

header.sticky .logo {
    color: white;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

a,
a:hover,
a:focus,
a:visited {
    text-decoration: none !important;
}


/* Navigation - Positioning links to the right */
nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

nav ul li {
    padding: 10px 20px;
    /* Equal padding on top and bottom */
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #9D69A3;
}

/* Hamburger Icon */
.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #333;
}

header.sticky .hamburger {
    color: white;
}

/* Main Content */
main {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

/* Form Styling */
form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: black;
}

.form-section {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)),
        url('hp4.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    transition: background 1s ease-in-out;
}

form input[type="text"],
form input[type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

form label[for="policy"] {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.8em;
    color: gray;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: black;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 10px;
}

.text-content button {
    padding: 15px;
    border-radius: 8px;
    border-color: black;
    background-color: white;
    color: black;
}

.text-content button:hover {
    background-color: #9D69A3;
    color: white;
}

form button:hover {
    background-color: rgb(79, 72, 72);
}

/* Description Section Layout */
.descr {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    text-align: left;
    padding: 0 40px;
    flex-direction: column;
    margin-top: 30px;
}

.descr .text-content {
    margin-top: 40px;
}

/* Title and List Styling */
.descr h1,
.descr h2 {
    margin-bottom: 15px;
}

/* List Styling */
.descr ul {
    margin-top: 15px;
    list-style: none;
    padding-left: 20px;
}

.descr ul li {
    background-image: url('point.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 0 5px;
    padding-left: 25px;
    margin-bottom: 10px;
}

/* Image Styling */
.descr img {
    width: 600px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.descr img:hover {
    transform: scale(1.05);
}

/*Facts Section*/
.facts {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    gap: 40px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.facts-content {
    text-align: center;
    position: relative;
    z-index: 1;
}

/* List Styling */
.facts ul {
    margin-top: 15px;
    list-style: none;
}

.facts ul li {
    background-image: url('point.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 0 5px;
    padding-left: 40px;
    margin-bottom: 10px;
    text-align: left;
}

.facts-content button {
    padding: 15px;
    width: 100%;
    border-radius: 8px;
    border-color: black;
    background-color: white;
    color: black;
}

.facts-content button:hover {
    background-color: #9D69A3;
    color: white;
}

.facts img {
    width: 300px;
    height: auto;
    border-radius: 6px;
    transition: opacity 1s ease, transform 1s ease;
    opacity: 0;
    transform: translateY(30px);
    z-index: -1;
    margin: 0 auto;
}

.facts img.visible {
    opacity: 1;
    transform: translateY(0);
}

.left-image {
    margin-left: 0;
}

.right-image {
    margin-right: 0;
    margin-left: 0;
}


/* Footer Styling */
.footer {
    background-color: #111;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
}

.footer-section h4 {
    margin-bottom: 15px;
    color: #9D69A3;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #9D69A3;
}

.social-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.social-icons a img {
    width: 70px;
    margin: 10px;
    transition: filter 0.3s;
}

.social-icons a img:hover {
    filter: grayscale(0%);
}

.footer-bottom-text {
    margin-top: 20px;
    font-size: 0.9em;
    color: #aaa;
}


/* Desktop Styles */
@media (min-width: 768px) {
    .descr {
        flex-direction: row;
        text-align: left;
    }

    .descr img {
        width: 50%;
        height: 100%;
        /* Full viewport height */
        object-fit: cover;
        /* Ensure it covers without distortion */
        border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        transition: transform 0.4s ease, box-shadow 0.4s ease;
    }

    .descr img:hover {
        transform: scale(1.02);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7);
    }
}


/* Mobile Styles */
@media (max-width: 768px) {

    html,
    body {
        overflow-x: hidden;
    }

    header {
        max-width: 100vw;
    }

    .form-section {
        margin-top: 40px;
        padding: 20px;
        background-position: center;
        background-size: cover;
        background-attachment: scroll;
    }

    nav ul {
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 200px;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        background-color: white;
        z-index: 1000;
        padding-top: 50px;
        max-width: 100vw;
    }

    nav ul li {
        margin: 20px 0;
        text-align: center;
        font-size: 20px;
    }

    nav ul li a {
        color: #333;
        font-weight: bold;
        text-decoration: none;
        display: block;
        width: 100%;
        padding: 10px 0;
    }

    nav ul li a:hover {
        color: rgb(79, 72, 72);
        background-color: #f0f0f0;
    }

    .hamburger {
        display: block;
    }

    .header.sticky .hamburger {
        color: white;
    }

    /* Slide the menu in by changing transform */
    nav ul.show {
        transform: translateX(0);
    }

    .descr {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        margin-bottom: 150px;
        margin-top: 70px;
    }

    .descr img {
        width: 300px;
        margin-top: 60px;
        order: -1;
    }

    .descr .text-content {
        margin-top: 40px;
    }

    header.sticky nav ul li a {
        color: black;
    }

    .facts {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: auto;
        margin: 0 auto;
        width: 100%;
    }

    .left-image,
    .right-image {
        margin-bottom: 20px;
    }

    .facts-content {
        margin-bottom: 20px;
        padding: 20px;
    }

    .facts img {
        width: 300px;
    }
}